datasets==2.14.4
easydict==1.10
efficientnet-pytorch==0.7.1
fairseq==0.10.2
gensim==4.3.2
google-apitools==0.5.32
google-auth==2.22.0
google-auth-oauthlib==1.0.0
grpcio==1.57.0
gsutil==5.24
huggingface-hub==0.14.1
keras==2.13.1
LiveTune==0.0.3
matplotlib
ml-collections==0.1.1
mlp-mixer-pytorch==0.1.1
multiprocess==0.70.14
nltk==3.8.1
numpy==1.22.4
openpyxl
pandas==1.4.2
pathtools==0.1.2
Pillow==6.2.2
psutil
pyarrow==12.0.0
PyYAML==6.0
sacrebleu==1.5.1
scikit-learn
scipy
seaborn==0.12.2
sentencepiece==0.1.99
shapely==2.0.1
simpletransformers==0.63.11
six
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.33.0
tokenizers==0.13.3
torch==1.13.1
torchaudio==0.13.1
torchmetrics==0.11.4
torchnet==0.0.4
torchprofile==0.0.4
torchsummary==1.5.1
torchvision==0.14.1
tqdm==4.33.0
transformers==4.31.0
